body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  color: rgb(10, 8, 8);
}

.choices {
  margin-bottom: 30px;
}

.choices button {
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  border-radius: 20px;
  background-color: rgb(23, 99, 146);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.choices button:hover {
  background-color: rgb(27, 118, 175);
}

#playerDisplay,
#computerDisplay {
  font-size: 2.5rem;
  text-transform: capitalize;
}

#resultDisplay {
  font-size: 5rem;
  margin: 30px 0;
}

.greenText,
#playerScoreDisplay {
  color: green;
}

.redText,
#computerScoreDisplay {
  color: red;
}

.scoreDisplay {
  font-size: 25px;
}
